[Desktop Entry]
Encoding=UTF-8
Name=Enlace a ¿Qué es la ética digital? - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=PCHAGVftN1I
Icon=text-html
