[Desktop Entry]
Encoding=UTF-8
Name=Enlace a cdnapisec.kaltura.com/p/2453002/embedPlaykitJs/uiconf_id/55913662?iframeembed=true&playerId=kaltura_player_1761673912&entry_id=1_002vx76m&v2Redirect=true&v2Redirecttranslate=true
Type=Link
URL=https://cdnapisec.kaltura.com/p/2453002/embedPlaykitJs/uiconf_id/55913662?iframeembed=true&playerId=kaltura_player_1761673912&entry_id=1_002vx76m&v2Redirect=true&v2Redirecttranslate=true
Icon=text-html
