[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Understanding digital transformation: A review and a research agenda - ScienceDirect
Type=Link
URL=https://www.sciencedirect.com/science/article/pii/S0963868717302196
Icon=text-html
