[Desktop Entry]
Encoding=UTF-8
Name=Enlace a How IT and Business Process Fit Together - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=3iAp9me4P1c
Icon=text-html
