[Desktop Entry]
Encoding=UTF-8
Name=Enlace a What is a business process? - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=NXbGIilFidA
Icon=text-html
